:root {
  --header-footer: #1f2937;
  --hero-sec-header-link: #e5e7eb;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    min-height: 100vh;
}


header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    padding: 10px;
}

header img {
    max-width: 100px;
    height: auto;
}

ul {
    list-style: none;
}

.logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav ul li {
    flex: 1;
}

a {
    text-decoration: none;
    color: var(--hero-sec-header-link);

}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.top-section {
    background: var(--header-footer);
}

